//input 前方加 icon
%inputWI-i-l {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px 20px;
    z-index: 100;
}
%inputWI-i-r {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 20px;
    z-index: 100;
}