//標題特殊字型
.font-flower {
    font-family: $font-flower;
}
//直式文字
.text-vertical{
    writing-mode: horizontal-tb;
    text-orientation: upright;
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl; 
    }
}
// input type="number" 不顯示上下箭頭
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}

//背景填滿置中
.bg-cover {
    background-size: cover;
    background-position: center center;
}
// top button
.top{
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    opacity: .7;
    background-color: $accent;
    z-index: 1030;
}
//navbar
#mainNav {
    transition: padding .5s , box-shadow .5s;
}
.sticky-min{
    padding-top: 2px;
    padding-bottom: 7px;
    box-shadow: 3px 0px 5px #909090;
}
.nav-link.active{
    font-weight: 500;
    span {
        border-bottom: 0px solid $accent;
        @include media-breakpoint-up(lg) {
            border-bottom: 2px solid $accent;
        }
    }
}
//main
.main {
    margin-top: 110px;
    min-height: calc( 100vh - (110px + 60px + 556px));
}
//footer
.footer-vertical {
    text-indent: 0rem;
    line-height: 2.5rem;
    letter-spacing: 5px;
}

